:root {
	color-scheme: light dark;

	--white: #fff4ea;
	--black: #161214;

	--red: light-dark(#df0000, #ff2e2e);
	--lesser_red: light-dark(#b70000, #8b090a);
}

body {
	display: flex;
	flex-direction: column;
	margin-inline: 4rem;
	color: light-dark(var(--black), var(--white));
	background-color: light-dark(var(--white), var(--black));

	@media (max-width: 45rem) {
		margin-inline: 0.8rem;
	}
}

main {
	margin-block: 3rem;
	flex-grow: 1;
}

.cfp-open {
	color: var(--red);
}
