*,
*::before,
*::after {
	box-sizing: border-box;
	background-repeat: no-repeat;
}

* {
	padding: 0;
	margin: 0;
}

html,
body {
	height: 100%;
}

html {
	overscroll-behavior-y: none;
	-moz-text-size-adjust: none;
	-webkit-text-size-adjust: none;
	text-size-adjust: none;
}

body {
	line-height: 1.5;
	-webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
}

:where(iframe) {
	border-style: none;
}

:where(svg:not([fill])) {
	fill: currentColor;
}

input,
button,
textarea,
select {
	font: inherit;
}

:where(textarea) {
	resize: vertical;
}

fieldset {
	border: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
	overflow-wrap: break-word;
}

p {
	text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-variant-numeric: lining-nums;
}

math,
time,
table {
	font-variant-numeric: tabular-nums lining-nums slashed-zero;
}

code {
	font-variant-numeric: slashed-zero;
}

table {
	border-collapse: collapse;
}

sup,
sub {
	line-height: 0;
}

:disabled {
	opacity: 0.7;
	cursor: not-allowed;
}
