form {
	display: none; /* Set to flex in JS */
	gap: 0.5rem;
	flex-wrap: wrap;
	margin-block-start: 5rem;
	margin-block-end: 1rem;
}

input,
label {
	height: fit-content;
}

/* Clean this up once Safari gets it's act together */
.custom-select {
	position: relative;
	height: fit-content;
	min-width: 10rem;
	padding-inline: 0.75rem;
	padding-block: 0.5rem;
	border-radius: 0.25rem;
	background: var(--lesser_red);
	color: light-dark(var(--white), currentColor);
	flex-grow: 1;

	fieldset {
		display: flex;
		flex-direction: column;
		position: absolute;
		inset-inline-start: 0;
		padding: 0.25rem;
		padding-block-start: 0.5rem;
		margin-block-start: 0.3rem;
		inline-size: 100%;
		min-inline-size: fit-content;
		max-block-size: 20rem;
		overflow: scroll;
		border-radius: 0.25rem;
		border-start-end-radius: 0;
		border-start-start-radius: 0;
		background: var(--lesser_red);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
		font-size: small;
		z-index: 10;
	}

	label {
		display: block;
		padding-block: 0.25rem;
		padding-inline: 0.5rem;
		border-radius: 0.25rem;

		&:not(:has(input[type="date"])):is(:hover, :focus-visible) {
			background: oklch(from var(--lesser_red) calc(l - 0.2) c h);
		}
	}
}

input[type="date"] {
	width: 100%;
	background: none;
	padding-inline: 0.25rem;
	padding-block: 0.5rem;
	border-radius: 0.25rem;
	background: light-dark(var(--white), var(--black));
	border: transparent;
}

input[type="reset"] {
	color: light-dark(var(--white), currentColor);
	background: var(--lesser_red);
	border: transparent;
	padding-inline: 0.75rem;
	padding-block: 0.5rem;
	border-radius: 0.25rem;

	&:hover,
	&:focus-visible {
		background: oklch(from var(--lesser_red) calc(l - 0.1) c h);
	}
}

main {
	max-width: 80rem;

	a {
		color: currentColor;
	}

	ol {
		list-style: none;

		a {
			text-decoration: none;

			&:hover,
			&:focus-visible {
				text-decoration: underline;
			}
		}

		> li {
			border-bottom: 2px solid grey;
			padding-inline: 1rem;
			padding-block: 1rem;
		}
	}

	ul {
		list-style: none;
	}
}
