.socials {
	display: flex;
	gap: 1rem;
	border-block: 1px solid grey;
	padding-block: 0.5rem;
	padding-inline: 0.5rem;
	margin-block-start: 2rem;
	margin-block-end: 3rem;

	a {
		color: currentColor;
	}

	.website {
		text-decoration: none;
		flex-grow: 1;

		img {
			display: inline;
			width: 1.5rem;
			margin-inline-end: 1ch;
			vertical-align: bottom;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}

ul {
	list-style: none;
	margin-inline-start: 2rem;
}

.travel-advisory {
	margin-block-end: 2rem;
	max-width: 75ch;
	padding: 1rem;
	border: 4px solid var(--red);
}
