details {
	background: light-dark(#ffd7d7, #3f2b35);
	margin-block: 2rem;
	padding-block: 0.75rem;
	padding-inline: 1rem;
	border-radius: 0.5rem;

	summary {
		.get {
			font-size: 0.8rem;
			font-weight: bold;
			background: #3f3ac9;
			color: var(--white);
			padding-block: 0.2rem;
			padding-inline: 1rem;
			border-radius: 0.25rem;
		}

		h2 {
			display: inline;
			font-size: inherit;
			font-family: inherit;
		}

		em {
			font-size: 0.9rem;
		}
	}


	&[open]::details-content {
		padding-block-start: 2rem;
	}
}
