#navbar nav {
	display: none;
}

main header {
	width: 100%;
	margin-block: 6rem;

	h1 {
		font-size: 4rem;
	}

	p {
		font-style: italic;
		margin-inline-start: 1rem;
	}

	@media (max-width: 35rem) {
		text-align: center;

		p {
			margin-inline: 0;
		}
	}
}

section {
	max-width: 90ch;
	margin-block: 10rem;

	h2 {
		margin-block-end: 1rem;
	}

	a {
		color: currentColor;
	}

	> ul {
		margin-inline-start: 2rem;

		> li {
			margin-block: 2rem;
		}

		a {
			text-decoration: none;

			&:hover,
			&:focus-visible {
				text-decoration: underline;
			}
		}
	}

	ul ul {
		list-style: none;
	}

	> a {
		display: block;
		margin-block-start: 2rem;
		margin-inline: auto;
		font-weight: bold;
		color: var(--red);
	}
}
